# Enable or disable profiling for performance analysis.
ENABLE_PROFILING=false
# Port for the profiling server if profiling is enabled.
PROFILING_PORT=6060
# Port on which your application's server will listen for incoming requests.
SERVER_PORT=3000
# Directory where email files are stored or retrieved from.
EMAILS_DIR=emails
# Name of the index used for storing and searching email data.
INDEX_NAME=emails
# Specify whether to remove the index if it already exists (true or false).
REMOVE_INDEX_IF_EXISTS=false
# Number of worker threads or processes responsible for parsing email data.
NUM_PARSER_WORKERS=36
# Number of worker threads or processes responsible for uploading data.
NUM_UPLOADER_WORKERS=12
# Quantity of data uploaded in bulk operations.
BULK_UPLOAD_QUANTITY=1000

# Hostname or IP address of the ZincSearch server.
ZINC_HOST=zinc
# Username for administrative access to the ZincSearch server.
ZINC_ADMIN_USER=admin
# Password for administrative access to the ZincSearch server.
ZINC_ADMIN_PASSWORD=Complexpass#123
# Port for connecting to the ZincSearch server.
ZINC_PORT=4080

# Port on which the client or frontend part of your application will be accessible.
CLIENT_PORT=80
# Token key used in your Vue.js application.
VITE_TOKEN_KEY=searchable
# Name of the index used in your Vue.js application (linked to INDEX_NAME).
VITE_INDEX_NAME=${INDEX_NAME}
# Base URI for your Vue.js application, including the server port.
VITE_BASE_URI=http://localhost:${SERVER_PORT}
